.mainNavUl {
  position: sticky;
  top: 0px;
  background-color: white;
  display: flex;
  padding-left: 50px;
}

.mainNavLi {
  margin-right: 30px;
  list-style: none;
}

.mainNavLink {
  color:darkred;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.h1 {
  margin: 20px 0px 20px 100px;
}

/* 以下新聞列表 */

.newsItemLi {
  display: flex;
  margin: 20px;
  border: 2px solid black;
  border-radius: 5px;
  overflow: hidden;
}

.newsItemImg {
  max-width: 450px;
  /* margin: 20px; */
}

.newsItemNoImg {
  font-weight: bold;
  font-size: 1.25rem;
  min-width: 450px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.newsItemInfo {

}

.newsItemTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 20px;
}

.newsItemDescription {
  margin: 20px;
}

.newItemViewDetailButton {
  background-color: white;
  font-weight: bold;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

/* 以下Footer */

.footerContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0;
}

.footerButton {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  margin: 0 20px;
  cursor: pointer;
}

.footerPage {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.footerPageInput {
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  text-align: center;
  padding: 0.25rem;
  border: none;
  border-radius: 5px;
}
.footerPageInput:focus {
  border: none;
}
.footerPageBtn {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}

/* about page */

.about {
  margin-left: 50px;
}